
// npm i prettier-plugin-tailwindcss

// create .prettierrc file in root folder 
// then paste below command

{
    "semi": true,
    "singleQuote": false,
    "trailingComma": "all",
    "plugins": ["prettier-plugin-tailwindcss"]
  }
